doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Personal Homepage')
        meta(name='author', content='Sven Keidel')

        title Sven Keidel

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Sven Keidel
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/portrait.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#qualifications') Qualifications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#employment-history') Employment History
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#research-projects') Research projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#reviewing') Reviewing
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#teaching') Teaching
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#supervision') Supervision
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#funding') Funding
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Sven Keidel
                    .subheading
                        | Hochschulstr. 10, 64289 Darmstadt, Germany
                    .subheading.mb-5
                        a(href='mailto:sven.keidel@tu-darmstadt.de') sven.keidel@tu-darmstadt.de
                        br
                        a(href='https://keybase.io/svenkeidel') GPG Key: C023 6AA3 9E2 3CB67
                    p.mb-2
                        | I am a computer science researcher, mathematician, and musician.
                        | I work as a postdoctoral researcher in the software technology group at TU Darmstadt in Germany.
                        | Prior to that, I worked as a PhD student at JGU Mainz under supervision of Prof. Sebastian Erdweg.
                    p.mb-2
                        | In my research, I develop techniques that simplify the design and implementation of static analyses.
                        | Static analyses are tools that provide information about programs by inspecting the source code without running them.
                        | They are used in integrated development environments, continuous integration servers, and compilers.
                        | A challenge in the design of such static analyses is to ensure that the analysis results are reliable (sound).
                        | However, rigorously proving that a static analysis is sound, is a difficult and laborious task.
                        | To this end, I develop techniques that simplify the development and soundness proof of static analyses. The core principle is to develop analyses from modular and reusable building blocks, such that the soundness proof becomes compositional.
                    p.mb-2
                        | Besides my main area of research, my research interests are proof techinques, category theory, type and effect systems.
                        | In my spare time I explore the vineyards of Mainz by bike and enjoy the nature.
                        | When I am at home, I like to play piano and bake delicious artisan sourdough bread.

            hr.m-0

            // Qualifications
            section#qualifications.resume-section
              .resume-section-content
                h2.mb-5 Qualifications
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Doctoral Degree in Computer Science
                    .subheading.mb-3 Johannes Gutenberg-Universit&auml;t, Germany
                    div
                      | Thesis: Modular Specification and Compositional Soundness of Abstract Interpreters
                    div Advisor: Sebastian Erdweg
                    div Grade: Summa Cum Laude
                  .flex-shrink-0
                    span.year 2021
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Master of Science in Computer Science
                    .subheading.mb-3 Technische Universit&auml;t Darmstadt, Germany
                    div Thesis: A disintegrated development environment
                    div Advisor: Sebastian Erdweg
                    div Grade: 1.82
                  .flex-shrink-0
                    span.year 2015
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Bachelor of Science in Computer Science
                    .subheading.mb-3 Technische Universit&auml;t Darmstadt, Germany
                    div Thesis: Code Completion for JavaScript with N-Grams
                    div Advisor: Sebastian Proksch
                    div Grade: 2.20
                  .flex-shrink-0
                    span.year 2013
            hr.m-0
            // Employment History
            section#employment-history.resume-section
              .resume-section-content
                h2.mb-5 Employment History
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                  .flex-grow-1
                    h3.mb-0 Technische Universit&auml;t Darmstadt, Germany
                    .subheading.mb-0 Postdoc, Computer Science
                    div Advisor: Mira Mezini
                  .flex-shrink-0
                    span.year 2020 - Present
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                  .flex-grow-1
                    h3.mb-0 Johannes Gutenberg-Universit&auml;t, Germany
                    .subheading.mb-0 PhD student, Computer Science
                    div Advisor: Sebastian Erdweg
                  .flex-shrink-0
                    span.year 2019 - 2020
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                  .flex-grow-1
                    h3.mb-0 Technische Universiteit Delft, The Netherlands
                    .subheading.mb-0 PhD student, Computer Science
                    div Advisor: Sebastian Erdweg
                  .flex-shrink-0
                    span.year 2016 - 2019
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                  .flex-grow-1
                    h3.mb-0 Technische Universit&auml;t Darmstadt, Germany
                    .subheading.mb-0 PhD student, Computer Science
                    div Advisor: Sebastian Erdweg
                  .flex-shrink-0
                    span.year 2015 - 2016
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                  .flex-grow-1
                    h3.mb-0 Technische Universit&auml;t Darmstadt, Germany
                    .subheading.mb-0 Master and Bechelor in Computer Science
                  .flex-shrink-0
                    span.year 2010 - 2015
            hr.m-0
            // Publications
            section#publications.resume-section
              .resume-section-content
                h2.mb-5 Publications
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Combinator-Based Fixpoint Algorithms for Big-Step Abstract Interpreters
                    .subheading.mb-0 Sven Keidel, Sebastian Erdweg, Tobias Hombücher
                    div International Conference on Functional Programming (ICFP). ACM
                    div
                      | [
                      a(href='https://doi.org/10.1145/3607863') pdf
                      | ]
                      | [
                      a(href='https://youtu.be/Wm_r8EU0RPQ?si=ECSJ_yh1Say7ubTh') Talk
                      | ]
                  .flex-shrink-0
                    span.year 2023
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Modular Abstract Definitional Interpreters for WebAssembly
                    .subheading.mb-0 Katharina Brandl, Sebastian Erdweg, Sven Keidel, Nils Hansen
                    div European Conference on Object-Oriented Programming (ECOOP). ACM
                    div
                      | [
                      a(href='https://doi.org/10.4230/LIPIcs.ECOOP.2023.5') pdf
                      | ]
                  .flex-shrink-0
                    span.year 2023
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Modular Specification and Compositional Soundness of Abstract Interpreters
                    .subheading.mb-0 Sven Keidel
                    div PhD Dissertation. JGU Mainz.
                    div
                      | Grade Summa Cum Laude (with highest praise), received an award of the Dres. G&ouml;bel-Stiftung.
                    div
                      | [
                      a(href='assets/theses/sven_keidel.pdf') pdf
                      | ]
                  .flex-shrink-0
                    span.year 2021
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 A Systematic Approach to Abstract Interpretation of Program Transformations
                    .subheading.mb-0 Sven Keidel and Sebastian Erdweg
                    div Verification, Model Checking, and Abstract Interpretation (VMCAI). Springer.
                    div
                      | [
                      a(href='assets/papers/program-trans-analysis.pdf') pdf
                      | ]
                  .flex-shrink-0
                    span.year 2020
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Sound and Reusable Components for Abstract Interpretation
                    .subheading.mb-0 Sven Keidel and Sebastian Erdweg
                    div Object-Oriented Programming, Systems, Languages, and Applications (OOPSLA). ACM.
                    div
                      | [
                      a(href='https://doi.org/10.1145/3360602') pdf
                      | ]
                      |                                  [
                      a(href='https://youtu.be/uCM54R3ab-Q') Talk
                      | ]
                  .flex-shrink-0
                    span.year 2019
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Compositional Soundness Proofs of Abstract Interpreters
                    .subheading.mb-0 Sven Keidel, Casper Bach Poulsen, and Sebastian Erdweg
                    div International Conference on Functional Programming (ICFP). ACM
                    div
                      | [
                      a(href='https://doi.org/10.1145/3236767') pdf
                      | ]
                      |                                  [
                      a(href='https://www.youtube.com/watch?v=zOqSlHAMGt4') Talk
                      | ]
                  .flex-shrink-0
                    span.year 2018
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Toward Abstract Interpretation of Program Transformations
                    .subheading.mb-0 Sven Keidel and Sebastian Erdweg
                    div International Workshop on Meta-Programming Techniques and Reflection. ACM.
                    div
                      | [
                      a(href='assets/papers/toward-transformation-abstract-interpretation.pdf') pdf
                      | ]
                  .flex-shrink-0
                    span.year 2017
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 The IDE Portability Problem and its Solution in Monto
                    .subheading.mb-0 Sven Keidel, Wulf Pfeiffer, and Sebastian Erdweg
                    div Proceedings of Software Language Engineering (SLE). ACM.
                    div
                      | [
                      a(href='assets/papers/monto.pdf') pdf
                      | ]
                  .flex-shrink-0
                    span.year 2016
            hr.m-0

            // Research Projects
            section#research-projects.resume-section
              .resume-section-content
                h2.mb-5 Research Projects
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Sturdy
                    p
                      a(href='https://gitlab.rlp.net/plmz/sturdy.scala') Sturdy
                      |  is a modular big-step abstract interpretation framework implemented in Scala.
                      |  Abstract interpretation is a form of static program analysis that evaluates the analyzed program to abstract values.
                      |  These abstract values represent program properties which hold for all possible program executions.
                      |  Abstract interpreters can be used to find bugs, validate security, or enable compiler optimizations.
                  img.flex-shrink-0(src='assets/img/sturdy.svg' style='width:20%')
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 OPAL
                    p
                      a(href='https://www.opal-project.de/') OPAL
                      |  is an analysis framework for Java with a focus on precision and scalability.
                      |  Analyses in OPAL can be implemented modularly from loosely coupled modules.
                      |  These modules do not call each other directly, but exchange information via a central data store called
                      em blackboard
                      |  .
                      |  A modular analysis implementation allows to replace modules to fine tune precision and scalability of the analysis.
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Monto
                    p
                      a(href='https://monto-editor.github.io/about/') Monto
                      |  decouples editor services from their graphical front-end.
                      |  In particular, modern IDEs support multiple programming languages via plug-ins.
                      |  However, developing a high-quality language plug-in requires a considerable development effort and individual plug-ins are not reusable in other IDEs. This problem is called the _IDE portability problem_.
                      |  Monto provides a solution to the IDE portability problem based on a language-independent and IDE-independent intermediate representation (IR) for editor services such as syntax highlighting, error messages, and code completion. This IR enables language services that support multiple IDEs with one plug-in.
                  img.flex-shrink-0(src='assets/img/monto.png' style='width:20%')
            hr.m-0
            // Reviewing
            section#reviewing.resume-section
              .resume-section-content
                h2.mb-2 Reviewing
                ul.fa-ul.mb-0
                  li
                    a(href='https://popl23.sigplan.org/committee/CPP-2023-papers-program-committee') CPP&apos;23 External Review
                  li
                    a(href='https://2023.ecoop.org/committee/ecoop-2023-research-papers-extended-review-committee') ECOOP&apos;23 External Review
                  li
                    a(href='https://2022.ecoop.org/committee/ecoop-2022-papers-extended-review-committee-') ECOOP&apos;22 Extended Review Committee
                    |  and
                    a(href='https://2022.ecoop.org/committee/ecoop-2022-artifacts-artifact-evaluation-committee') Artifact Evaluation
                  li
                    a(href='https://conf.researchr.org/track/icse-2022/icse-2022-papers') ICSE&apos;22 (invited by M. Mezini)
                  li
                    a(href='https://2021.splashcon.org/track/splash-2021-oopsla') OOPSLA&apos;21 (invited by M. Mezini)
                  li
                    a(href='https://conf.researchr.org/home/sle-2020') SLE&apos;20 (invited by S. Erdweg)
                  li
                    a(href='https://dl.acm.org/journal/tosem') TOSEM&apos;20
                  li
                    a(href='https://icfp20.sigplan.org/') ICFP&apos;20 (invited by S. Erdweg)
                  li
                    a(href='https://conf.researchr.org/committee/sle-2019/sle-2019-papers-artifact-evaluation-committee') SLE&apos;19 Artifact Evaluation
                  li
                    a(href='https://2019.splashcon.org/track/splash-2019-oopsla') OOPSLA&apos;19 (invited by S. Erdweg)
                  li
                    a(href='https://icfp19.sigplan.org/') ICFP&apos;19 (invited by S. Erdweg),
                  li
                    a(href='https://icfp19.sigplan.org/committee/icfp-2019-research-artifacts-artifact-evaluation-committee') ICFP&apos;19 Artifact Evaluation
                  li
                    a(href='https://conf.researchr.org/committee/sle-2018/papers-artifact-evaluation-committee') SLE&apos;18 Artifact Evaluation
                  li
                    a(href='http://www.ase2016.org/') ASE&apos;16 (invited by S. Erdweg)
            hr.m-0
            // Teaching
            section#teaching.resume-section
              .resume-section-content
                h2.mb-5 Teaching
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-3 Lecturing
                    .mb-2
                      .subheading.mb-0 Lecturer and Organizer
                      ul.fa-ul.mb-0
                        li
                          a(href='https://www.stg.tu-darmstadt.de/teaching_stg/courses_stg/ws_2023/software_engineering_ws23/software_engineering.en.jsp') Static Program Analysis
                          | , Winter 2023, TU Darmstadt
                        li
                          a(href='https://www.stg.tu-darmstadt.de/teaching_stg/courses_stg/ws_2021___22/program_analysis/program_analysis_1.en.jsp') Static Program Analysis
                          | , Winter 2021, TU Darmstadt
                    div
                      .subheading.mb-0 Teaching Assistance
                      ul.fa-ul.mb-0
                        li
                          | Introduction to Programming, Winter 2020, JGU Mainz
                        li
                          | Program Analysis Seminar, Winter 2020, JGU Mainz
                        li
                          | Program Analysis Lab, Summer 2020, JGU Mainz
                        li
                          a(href='https://www.informatik.uni-mainz.de/lehrveranstaltungen/?event_id=373954785622291') Program Analysis
                          | , Summer 2020, JGU Mainz
                        li
                          | Program Analysis Seminar, Winter 2019, JGU Mainz
                        li
                          | Program Analysis Lab, Summer 2019, JGU Mainz
                        li
                          a(href='https://www.informatik.uni-mainz.de/lehrveranstaltungen/?event_id=371333106662956') Program Analysis
                          | , Summer 2019, JGU Mainz
                        li
                          a(href='http://www.studiegids.tudelft.nl/a101_displayCourse.do?course_id=41635') Dynamic and Static Program Analysis for Software Security
                          | , Winter 2018, TU Delft
                        li
                          a(href='http://www.studiegids.tudelft.nl/a101_displayCourse.do?course_id=41635') Dynamic and Static Program Analysis for Software Security
                          | , Winter 2017, TU Delft
                        li
                          a(href='http://www.studiegids.tudelft.nl/a101_displayCourse.do?course_id=41656') Seminar Programming Languages
                          | , Winter 2016, TU Delft
                        li
                          a(href='http://www.studiegids.tudelft.nl/a101_displayCourse.do?course_id=41635') Dynamic and Static Program Analysis for Software Security
                          | , Winter 2016, TU Delft
            hr.m-0
            // Supervision
            section#supervision.resume-section
              .resume-section-content
                h2.mb-5 Supervision
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    .mb-3
                      h3.mb-1 PhD Students
                      ul.fa-ul.mb-0
                        li
                          strong
                            a(href='https://www.stg.tu-darmstadt.de/main_stg/staff_stg/dominik_helm_1.en.jsp') Dominik Helm
                          |, cosupervised with M. Mezini, PhD Thesis:
                          a(href='https://doi.org/10.26083/tuprints-00023220') Modular Collaborative Program Analysis
                        li
                          strong
                            a(href='https://www.stg.tu-darmstadt.de/main_stg/staff_stg/tobias_roth_1.en.jsp') Tobias Roth
                          |, cosupervised with M. Mezini
                    .mb-3
                      h3.mb-1 Bachelor and Master Students
                      ul.fa-ul.mb-0
                        li
                          strong Tomislav Pree
                          |, Bachelor Thesis:
                          a(href='assets/theses/tomislav_pree.pdf') Debugging Static Analyses in Sturdy
                          |, JGU Mainz, 2020.
                        li
                          strong Tobias Homb&uuml;cher
                          |, Bachelor Thesis:
                          a(href='assets/theses/tobias_hombuecher.pdf') Type and Control-Flow Analysis for Scheme in Sturdy
                          |, JGU Mainz, 2020.
                        li
                          strong Jens de Waard
                          |, Master Thesis:
                          a(href='assets/theses/jens_de_waard.pdf') Soundness Proofs of Static Analyses in Coq
                          |, TU Delft, 2019.
                        li
                          strong
                          a(href='https://www.hjdskes.nl/') Jente Hidskes
                          |, Master Thesis:
                          a(href='assets/theses/jente_hidskes.pdf')
                          | Sound Interprocedural Static Analysis for Stratego based on Regular Tree Grammars
                          |, TU Delft, 2018.
                        li
                          strong Matthijs Bijman
                          |, Bachelor Thesis:
                          a(href='assets/theses/matthijs_bijman.pdf') Sound Abstract Interpretation of JavaScript
                          |, TU Delft, 2018.
                        li
                          strong
                          a(href='https://www.wouterraateland.nl/') Wouter Raateland
                          |, Bachelor Thesis:
                          a(href='assets/theses/wouter_raateland.pdf') Sound Abstract Interpretation of Java
                          |, TU Delft, 2018.
                        li
                          strong Hans Becker
                          |, Master Thesis:
                          a(href='assets/theses/hans_becker.pdf') Interactive services in a disintegrated development environment
                          |, TU Darmstadt, 2017.
                        li
                          strong Stefan Kockmann
                          |, Bachelor Thesis:
                          a(href='assets/theses/stefan_kockmann.pdf') File dependencies in a disintegrated development environment
                          |, TU Darmstadt, 2016.
            hr.m-0

            // Funding
            section#funding.resume-section
              .resume-section-content
                h2.mb-5 Funding
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Cross-Language Library-Aware Security Analysis of Complex Software Systems
                    .subheading.mb-0 Principled Investigator: Mira Mezini, Coauthor: Sven Keidel
                    div ATHENE: National Research Center for Applied Cybersecurity
                    div
                      a(href='https://www.athene-center.de/en/research/research-areas/automatic-vulnerability-scanning-and-verification') Mission: Automatic Vulnerability Scanning and Verification (AVSV)
                  .flex-shrink-0
                    span.year 2022
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0
                      | Correct, Efficient, and Flexible Fixpoint Algorithms for Big-Step Abstract Interpreters
                    .subheading.mb-0 Principled Investigator: Sebastian Erdweg, Coauthor: Sven Keidel
                    div Deutsche Forschungs Gesellschaft (DFG)
                    div
                      a(href='https://gepris.dfg.de/gepris/projekt/451545561') project 451545561
                  .flex-shrink-0
                    span.year 2021
            hr.m-0

            // Awards
            section#awards.resume-section
              .resume-section-content
                h2.mb-5 Awards
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                  .flex-grow-1
                    h3.mb-0 Dissertation Award
                    div
                      a(href='https://www.foerdern-und-stiften.uni-mainz.de/johannes-gutenberg-universitaetsstiftung/treuhandstiftungen-unter-dem-dach-der-jgu-stiftung/dres-elke-und-rainer-goebel-stiftung/') Dres. Elke und Rainer G&ouml;bel-Stiftung
                  .flex-shrink-0
                    span.year 2022
            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
